@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;800&display=swap');
body {
    font-family: 'Cairo', sans-serif;
}
input {
    border: none;
}
#form-header {
    text-align : center;
    font-size : 30px;
    margin : 10px;
    margin-bottom : 40px;
}

.container {
    width : 250px;
    height : 20em;
    background-color : #B6D0E2;
    padding : 10px 30px;
    
}
#registration-container {
    text-align : center;
    margin-top : 4.9em;
}

.submit-button {
    float : right;
    margin : 10px 2px;
    padding : 3px 14px;
    background-color : #7fadcc;
    font-size : 12px;
    font-family: 'Cairo', sans-serif;
}

.text-zone {
    padding : 6px;
    float:right;
}